body {
	font: 12px sans-serif;
	margin: 5px;
}

.loader {
	border: 1px solid #AAA;
	height: 350px;
	margin-bottom: 5px;
	overflow: auto;
	padding: 5px;
	width: 700px;
}

button {
	margin-right: 5px;
}